@tailwind base;
@tailwind components;
@tailwind utilities;

/* next image tweak */
.imageContainer {
  width: 100%;
}
.imageContainer > span {
  position: unset !important;
}

.imageContainer .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@layer components {
  .pill {
    @apply rounded-full bg-monochromatic-200 px-2 py-1 text-xs text-monochromatic-800;
  }
  .pill-dark {
    @apply rounded-full bg-monochromatic-700 px-2 py-1 text-xs text-white;
  }
}
